.container {
    background-image: url("/src/assets/../../../src/assets/img/space.jpg");
    background-size: cover;
    background-position: center; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: vh;
  }
  
  .languageSelector {
    text-align: center;
    margin-bottom: 20px;
  
    button {
      padding: 10px;
      margin: 0 5px;
      font-size: 16px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f0f0f0;
  
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
  .searchBar {
    margin-bottom: 20px;
    text-align: center;
  
    input {
      padding: 10px;
      font-size: 16px;
      width: 80%;
      max-width: 500px;
      border: 1px solid #a71515;
      border-radius: 4px;
    }
  }
  .card1 {
    width: 335px;
    height: 335px;
    transition: transform 0.3s;
    margin-bottom: 20px;
    align-self: center;
    border-radius: 10px;
  }
  
  .card1:hover {
    transform: scale(1.1);
  }